body{
  background-color: #3E606F;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: Merriweather;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
a{
  color: white;
  text-decoration: none;
}

ul{
  color: white;
  text-decoration: none;
}

.menu{
  background-color: #172329;
  color: white;
  height: 50px;
  position: relative;
}

.menu nav{
  background: inherit;
  font-size: 20px;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: height .2s;
}
.menu nav > *{
  display: block;
  letter-spacing: 1px;
  line-height: 2.5;
  padding: 0 20px;
  width: 100%;
}
.menu .deroulant:checked + nav
{
  height:calc(70vh - 30px);
}

footer{
	padding:25px 0px;
	background-color: #172329; 
  
}
.navbarFooter {
  overflow: hidden;
  background-color:#3E606F;
  position: -webkit-sticky;
  bottom: 0;
  width: 100%;
}
.navbarFooter a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
ul {
  list-style: none;
  padding-left: 0;
}

.container {
  flex: auto;
}

.carte {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

